.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#myCanvas {
    max-width: 80vw;
    min-height: 60vh;
}

.form {
    width: 400px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.form input {
    font-size: 16px;
    height: 28px;

}

.form button {
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.form #add {
    background-color: #109c10;
}

.form #remove {
    background-color: #c80d0d;
}